<div th:fragment="tripCard(trip)" xmlns:th="http://www.thymeleaf.org">
    <div class="trip-card">
        <div class="route-info">
            <div class="city-time">
                <span class= "time" th:text="${#temporals.format(trip.plannedDepartureDateTime, 'HH:mm')}">time</span>
                <span th:text="${trip.origin}">city</span>
                <span th:text="${#temporals.format(trip.plannedDepartureDateTime, 'dd MMM, E')}">date</span>
            </div>

            <div class="route-duration">
                🚌 В пути: <span th:text="${trip.duration + ' ч. ' + trip.duration + ' мин.'}">time.</span>
            </div>

            <div class="city-time">
                <span class= "time" th:text="${#temporals.format(trip.plannedArrivalDateTime, 'HH:mm')}">time</span>
                <span th:text="${trip.destination}">city</span>
                <span th:text="${#temporals.format(trip.plannedArrivalDateTime, 'dd MMM, E')}">date</span>
            </div>
        </div>

        <div class="trip-footer">
            <!--            <div class="luggage-info" th:text="Available passengers seats">-->
            <!--                Passengers-->
            <!--            </div>-->
            <button class="btn btn-primary btn-sm">Выбрать билет</button>
        </div>
    </div>
</div>
