<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/zephyr/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/navbar.css">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">TripSharing</title>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TripSharing</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"  role="presentation" sec:authorize="isAuthenticated()">
                    <a class="nav-link active"
                       href="/myTrips">My Trips
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item" role="presentation" sec:authorize="hasRole('DRIVER')">
                    <a class="nav-link"
                       th:href="@{/driver}"
                       role="tab">Driver Profile</a>
                </li>

            </ul>

            <button type="button"
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#authModal">Account
            </button>

        </div>

    </div>
</nav>


<!--Main content-->
<main layout:fragment="content"></main>

<!--Modals-->
<div th:replace="~{fragments/login-modal :: #authModal}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>