<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User registration form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/yeti/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <form th:action="@{/users/register}" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input class="email" placeholder="Enter Email" id="email" name="email" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input class="password" placeholder="Enter password" id="password" name="password" required>
            </div>
        </div>
        <div class="form-row">
            <button type="submit">Register</button>
        </div>

    </form>
</div>
</body>
</html>
